[Unit]
Description=embeded service
After=multi-user.target

[Service]
StartLimitBurst=0
Type=simple
Restart=on-failure
StartLimitIntervalSec=10
ExecStart=/home/sysadmin/code/iot_case_h5/app/api/gunicorn

[Install]
WantedBy=multi-user.target
